.book-page-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(10px, auto);
  grid-template-areas:
      "title title title"
      "info info info"
      "book box box"
      "samea samea samea"
      "similarm similarm similarm"
      "similarb similarb similarb";

  margin: 15px auto;
  padding: 50px 80px;
  row-gap: 10px;
  column-gap: 20px;
  max-width: 1000px;
  background-color: white;
}

.book-page-wrapper > h1 {
  grid-area: title;
}

.book-page-wrapper > h5 {
  grid-area: info;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.book-page-wrapper > .book {
  grid-area: book;
}

.book-page-wrapper > .box {
  grid-area: box;
}

.book-page-wrapper > .same-author {
  grid-area: samea;
}

.book-page-wrapper > .similar-movies {
  grid-area: similarm;
}

.book-page-wrapper > .similar-books {
  grid-area: similarb;
}

.large-item-pic {
  height: 300px;
  width: auto;
}

.medium-item-pic {
  width: auto;
  height: 250px;
  max-width: 166px;
 }

.page {
  display: block;
  overflow-y: auto;

}

.page-container {
  padding: 15px 20px;
  display: block;
  background-color:  #F6F6F6;
}

.movie-list{
  display: grid;
  grid-auto-columns: max-content;
  grid-template-rows: 1fr;
  width: 100%;
  overflow-x: scroll;
  margin-left: 5px;
  margin-right: 5px;
}

.movie-page-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(10px, auto);
  grid-template-areas:
      "title title title"
      "info info info"
      "movie box box"
      "similarm similarm similarm"
      "similarb similarb similarb";

  margin: 15px auto;
  padding: 50px 80px;
  row-gap: 10px;
  column-gap: 20px;
  max-width: 1000px;
  background-color: white;
}

.movie-page-wrapper > h1 {
  grid-area: title;
}

.movie-page-wrapper > h5 {
  grid-area: info;
}

.movie-page-wrapper > .movie {
  grid-area: movie;
}

.movie-page-wrapper > .box {
  grid-area: box;
}

.movie-page-wrapper > .similar-movies {
  grid-area: similarm;
}

.movie-page-wrapper > .similar-books {
  grid-area: similarb;
}

.movie-slot{
  grid-row: 1;
  grid-column: auto;
  padding: 20px;
 }

.movie-info {
  padding: 3px 5px 5px;
}

 .movie-info,
 .table-item-info{
  font-size: 12px;
  font-weight: bold;
 }

 .movie-info a,
 .table-item-title a {
  text-decoration: none;
  color: black;
  padding-top: 5px;
 }

 .movie-info a:hover,
 .table-item-title a:hover {
  text-decoration: underline;
 }

 .movie-pic {
  display: grid;
  justify-content: center;
 }

 .movie-pic a img,
 .table-item a img{
  transition: .3s;
 }

 .movie-pic a:hover img,
 .table-item a:hover img {
  opacity: .5;
 }

 .react-multiple-carousel__arrow {
  background: #058ED9 !important;
  border-radius: 10px !important;
  top: calc(35% + 5px)
 }

.react-multiple-carousel__arrow--right:hover {
  background: #025DA3 !important;
  transform: translateX(3px);
}

.react-multiple-carousel__arrow--left:hover {
  background: #025DA3 !important;
  transform: translateX(-3px);
}

.small-item-pic {
  width: fit-content ;
  height: 180px;
  object-fit: fill;
}

svg[data-testid="LocalMoviesRoundedIcon"] {
  display: block;
}

svg[data-testid="MenuBookRoundedIcon"] {
  display: block;
  padding-left: 2px;
}

 .switch-text {
  padding-top: 10px;
  padding-left: 15px;
 }

.switch-text button, .btn {
  background-color: #058ED9;
  color: #F6F6F6;
  border-radius: 5px;
  border: none;
  margin-left: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.switch-text button:hover, .btn:hover {
  background-color: #057FC5;
  transform: translateY(1px);
  font-weight: bold;
}

.result-table {
  display: flex;
}

.show-more-less {
  text-decoration: none;
  color: #058ED9;
  padding-left: 3px;
}

.show-more-less:hover {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: #EE6055;
  text-decoration-thickness: 3px;
  cursor: pointer;
}

.table-left,
.table-right {
  display: table;
  flex: 50%;
  margin: 20px
}

.table-item:nth-child(odd) {
  background-color: #f2f2f2f2;
}

.table-item:nth-child(even) {
  background-color: white;
}

.table-item {
  display: inline-flex;
  width: calc(100% - 80px);
  padding: 10px;
  margin-left: 30px;
}

.table-item h3 {
  text-align: center;
}

.table-item-pic {
  display: inline-block;
  margin-right: 10px;
}

.table-item-info{
  display: inline-block;
  vertical-align: top;
}

.table-item-pic img {
  width: auto;
  max-height: 120px;
}

.table-item-title {
  font-size: 15px;
  text-decoration: none;
  color: #989898;
  padding-top: 5px;
}

.warning {
  background-color: #EE6055;
  color: #001A23;
  margin-left: 0px;
  margin-bottom: 15px;
}

.warning:hover {
  background-color: #F2513C;
}

.ui.grid {
  background-color: #003249;
}

.ui[class*="center align"].grid{
  background-color: #1B1C1D;
}

#navbutton {
  background-color: white !important;
  margin: 10px;
}

#toggle {
  background-color: #058ED9 !important;
}
