.navbar a{
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  margin-right: 10px;
  padding: 5px;
  color: black;
}

.navbar a:hover{
  font-weight: bold;
}

.navbar a::before {
  display: block;
  content: attr(data-link);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.page {
  padding: 20px;
  display: block;
  overflow-y: auto;

}

.page-container,
.navbar {
  padding: 10px;
  display: block;
}

.movie-list{
  display: grid;
  grid-auto-columns: max-content;
  grid-template-rows: 1fr;
  width: 100%;
  overflow-x: scroll;
  margin-left: 5px;
  margin-right: 5px;
}

.movie-slot{
  grid-row: 1;
  grid-column: auto;
  padding: 20px;
 }

 .movie-info,
 .table-item-info{
  font-size: 12px;
  font-weight: bold;
 }

 .movie-info a,
 .table-item-title a {
  text-decoration: none;
  color: black;
  padding-top: 5px;
 }

 .movie-info a:hover,
 .table-item-title a:hover {
  text-decoration: underline;
 }

 .movie-pic a img,
 .table-item a img{
  transition: .3s;
 }

 .movie-pic a:hover img,
 .table-item a:hover img {
  opacity: .5;
 }

 img {
  width: auto;
  max-height: 250px;
 }

 .switch-text {
  padding-top: 10px;
  padding-left: 15px;
 }

.switch-text button {
  background-color: #4b91f7;
  color: #fff;
  border-radius: 6px;
  border: none;
}

.switch-text button:hover{
  background-color: #07c;
  transform: translateY(1px);
}

.table{
  display: table;
}

.table-item:nth-child(odd) {
  background-color: #f2f2f2f2;
}

.table-item:nth-child(even) {
  background-color: white;
}

.table-item {
  display: flex;
  padding: 10px;
}

.table-item-pic {
  display: inline-block;
  margin-right: 10px;
}

.table-item-info{
  display: inline-block;
  vertical-align: top;
}

.table-item-pic img {
  width: auto;
  max-height: 120px;
}

.table-item-title {
  font-size: 15px;
  text-decoration: none;
  color: #989898;
  padding-top: 5px;
}
